:root {
  --color-primary: #FF6A00;
  --color-secondary: #000000;
  --color-text: #000000;
  --color-button: #FFC107;
  --color-button-hover: #ffe9a6;
  --color-bg: #F5F5F5;
  --bg-menu: #FFFFFF;
}

.pre-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Substitua pelo tamanho desejado */
  height: 40px; /* Substitua pelo tamanho desejado */
  background-color: #000000;
  border-radius: 50%; /* Define o border-radius para metade da largura/altura */
  cursor: pointer;

  p{
    font-size: 20;
    color: #F5F5F5;
  }
}

.logout-box {
  position: absolute;
  top: 70px; /* Ajuste conforme necessário */
  right: 80px; /* Ajuste conforme necessário */
  background-color: #fff4d5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: flex-start; /* Alterado para alinhar os itens à esquerda */
  justify-content: left; /* Mantido para garantir o alinhamento vertical */
  flex-direction: column;
  cursor: default;
}

.logout-box p {
  margin: 0.2rem;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}





  header {
    position: sticky !important;
    top: 0;
    z-index: 1000000;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px 2rem;
    background-color: #f7f4ed;
    transition: height 0.5s ease;
    transition: background-color 0.5s ease; /* Add background-color transition */
  }
  
  .logo {
    font-size: 14px;
    color: var(--color-text);
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;
  }

  .hamburguer {
    display: none;
  }

  .line{
    background-color: #000000;
  }
  
  .nav-bar ul {
    display: flex;
  }
  
  .nav-bar ul li a {
    display: block;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .nav-bar ul li a:hover {
    color: var(--color-text);
    background: var(--color-button-hover);
    }

  @media only screen and (max-width: 1005px){
    .hamburguer{
      display: block;
      cursor: pointer;
    }
    .hamburguer .line{
      width: 30px;
      height: 3px;
      margin: 6px 0;
    }
    .nav-bar{
      height: 0px;
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      width: 100%;
      transition: 0.2s;
      overflow: hidden;
      top: 100%; /* Define a distância em relação ao topo */
    }
    .nav-bar.active{
      background: #cfcfcf;
      height: 270px;
      transform: translateY(0%); /* Exibe o menu no topo da tela */
      box-shadow: 0px 5px 5px -5px rgba(70, 70, 70, 0.75);
    }
  
    .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 45px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
  
    .nav-bar.active ul{
      opacity: 1;
    }
  
    .nav-bar ul li a{
      margin-bottom: 12px;
    }
  }