.rodape {
    background-color: #f7f4ed;
    color: #1d1d1d;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    position: relative;
    width: 100%;
    margin-top: auto; /* Este estilo empurra o rodapé para o final do conteúdo */
}

