.linkDestacado {
    color: #ffffff; 
    background: #000000;
  }
  
  .linkNormal{
    color: #000000;
  }
  
  @media only screen and (max-width: 1005px){
    .linkDestacado{
      background-color: #ffffff;
      color: #000;
    }
  }